In [1]:
import pandas as pad 
import numpy as np

In [2]:
dataset = pad.read_csv("weight-height.csv")

In [3]:
dataset

      Gender     Height      Weight
0       Male  73.847017  241.893563
1       Male  68.781904  162.310473
2       Male  74.110105  212.740856
3       Male  71.730978  220.042470
4       Male  69.881796  206.349801
...      ...        ...         ...
9995  Female  66.172652  136.777454
9996  Female  67.067155  170.867906
9997  Female  63.867992  128.475319
9998  Female  69.034243  163.852461
9999  Female  61.944246  113.649103

[10000 rows x 3 columns]

In [4]:
dataset.columns

Index(['Gender', 'Height', 'Weight'], dtype='object')

In [7]:
X = dataset[ ['Height', 'Weight']]

In [10]:
gender = dataset['Gender']

In [21]:
gender=pad.get_dummies(gender ,drop_first=True)

In [59]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,gender,test_size=0.2)

In [106]:
from keras.models import Sequential

In [107]:
model =Sequential()

In [108]:
from keras.layers import Dense

In [109]:
model.add(Dense(units = 20 ,activation = "relu" ,bias_initializer = 'zeros' , kernel_initializer = 'zeros',input_dim=2))

In [110]:
model.add(Dense(units = 10 ,activation = "relu"))

In [111]:
model.add(Dense(units = 5 ,activation = "relu"))

In [112]:
model.get_config()

{'name': 'sequential_4',
 'layers': [{'class_name': 'InputLayer',
   'config': {'batch_input_shape': (None, 2),
    'dtype': 'float32',
    'sparse': False,
    'ragged': False,
    'name': 'dense_22_input'}},
  {'class_name': 'Dense',
   'config': {'name': 'dense_22',
    'trainable': True,
    'batch_input_shape': (None, 2),
    'dtype': 'float32',
    'units': 20,
    'activation': 'relu',
    'use_bias': True,
    'kernel_initializer': {'class_name': 'Zeros', 'config': {}},
    'bias_initializer': {'class_name': 'Zeros', 'config': {}},
    'kernel_regularizer': None,
    'bias_regularizer': None,
    'activity_regularizer': None,
    'kernel_constraint': None,
    'bias_constraint': None}},
  {'class_name': 'Dense',
   'config': {'name': 'dense_23',
    'trainable': True,
    'dtype': 'float32',
    'units': 10,
    'activation': 'relu',
    'use_bias': True,
    'kernel_initializer': {'class_name': 'GlorotUniform',
     'config': {'seed': None}},
    'bias_initializer': {'class_name': 'Zeros', 'config': {}},
    'kernel_regularizer': None,
    'bias_regularizer': None,
    'activity_regularizer': None,
    'kernel_constraint': None,
    'bias_constraint': None}},
  {'class_name': 'Dense',
   'config': {'name': 'dense_24',
    'trainable': True,
    'dtype': 'float32',
    'units': 5,
    'activation': 'relu',
    'use_bias': True,
    'kernel_initializer': {'class_name': 'GlorotUniform',
     'config': {'seed': None}},
    'bias_initializer': {'class_name': 'Zeros', 'config': {}},
    'kernel_regularizer': None,
    'bias_regularizer': None,
    'activity_regularizer': None,
    'kernel_constraint': None,
    'bias_constraint': None}}]}

In [113]:
model.summary()

Model: "sequential_4"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_22 (Dense)             (None, 20)                60
_________________________________________________________________
dense_23 (Dense)             (None, 10)                210
_________________________________________________________________
dense_24 (Dense)             (None, 5)                 55
=================================================================
Total params: 325
Trainable params: 325
Non-trainable params: 0
_________________________________________________________________

In [114]:
model.add(Dense(units = 1 ,activation = "sigmoid" ))

In [115]:
from keras.optimizers import Adam

In [119]:
model.compile(optimizer=Adam(learning_rate=0.000000001) ,loss='binary_crossentropy')

In [120]:
X_train.shape

(8000, 2)

In [121]:
model.fit(X_train ,y_train ,epochs=50)

Epoch 1/50
250/250 [==============================] - 2s 2ms/step - loss: 0.6932
Epoch 2/50
250/250 [==============================] - 0s 2ms/step - loss: 0.6932
Epoch 3/50
250/250 [==============================] - 0s 2ms/step - loss: 0.6935
Epoch 4/50
250/250 [==============================] - 0s 2ms/step - loss: 0.6934
Epoch 5/50
250/250 [==============================] - 0s 2ms/step - loss: 0.6933
Epoch 6/50
250/250 [==============================] - 0s 2ms/step - loss: 0.6932
Epoch 7/50
250/250 [==============================] - 0s 2ms/step - loss: 0.6933
Epoch 8/50
250/250 [==============================] - 0s 2ms/step - loss: 0.6933
Epoch 9/50
250/250 [==============================] - 0s 2ms/step - loss: 0.6934
Epoch 10/50
250/250 [==============================] - 0s 2ms/step - loss: 0.6934
Epoch 11/50
250/250 [==============================] - 0s 2ms/step - loss: 0.6933
Epoch 12/50
250/250 [==============================] - 0s 2ms/step - loss: 0.6931
Epoch 13/50
250/250 [==============================] - 0s 2ms/step - loss: 0.6933
Epoch 14/50
250/250 [==============================] - 0s 2ms/step - loss: 0.6935
Epoch 15/50
250/250 [==============================] - 0s 2ms/step - loss: 0.6935
Epoch 16/50
250/250 [==============================] - 0s 2ms/step - loss: 0.6930
Epoch 17/50
250/250 [==============================] - 0s 2ms/step - loss: 0.6933
Epoch 18/50
250/250 [==============================] - 0s 2ms/step - loss: 0.6934
Epoch 19/50
250/250 [==============================] - 0s 2ms/step - loss: 0.6931
Epoch 20/50
250/250 [==============================] - 0s 2ms/step - loss: 0.6933
Epoch 21/50
250/250 [==============================] - 0s 2ms/step - loss: 0.6932
Epoch 22/50
250/250 [==============================] - 0s 2ms/step - loss: 0.6932
Epoch 23/50
250/250 [==============================] - 0s 2ms/step - loss: 0.6933
Epoch 24/50
250/250 [==============================] - 0s 2ms/step - loss: 0.6935
Epoch 25/50
250/250 [==============================] - 0s 2ms/step - loss: 0.6932
Epoch 26/50
250/250 [==============================] - 0s 2ms/step - loss: 0.6936
Epoch 27/50
250/250 [==============================] - 0s 2ms/step - loss: 0.6933
Epoch 28/50
250/250 [==============================] - 0s 2ms/step - loss: 0.6933
Epoch 29/50
250/250 [==============================] - 0s 2ms/step - loss: 0.6932
Epoch 30/50
250/250 [==============================] - 1s 2ms/step - loss: 0.6930
Epoch 31/50
250/250 [==============================] - 1s 4ms/step - loss: 0.6935
Epoch 32/50
250/250 [==============================] - 1s 4ms/step - loss: 0.6938
Epoch 33/50
250/250 [==============================] - 1s 3ms/step - loss: 0.6934
Epoch 34/50
250/250 [==============================] - 1s 2ms/step - loss: 0.6934
Epoch 35/50
250/250 [==============================] - 1s 4ms/step - loss: 0.6931
Epoch 36/50
250/250 [==============================] - 1s 4ms/step - loss: 0.6933
Epoch 37/50
250/250 [==============================] - 1s 4ms/step - loss: 0.6935
Epoch 38/50
250/250 [==============================] - 1s 4ms/step - loss: 0.6937
Epoch 39/50
250/250 [==============================] - 1s 4ms/step - loss: 0.6932
Epoch 40/50
250/250 [==============================] - 1s 4ms/step - loss: 0.6930
Epoch 41/50
250/250 [==============================] - 1s 4ms/step - loss: 0.6930
Epoch 42/50
250/250 [==============================] - 1s 4ms/step - loss: 0.6933
Epoch 43/50
250/250 [==============================] - 1s 4ms/step - loss: 0.6932
Epoch 44/50
250/250 [==============================] - 1s 4ms/step - loss: 0.6934
Epoch 45/50
250/250 [==============================] - 1s 4ms/step - loss: 0.6934
Epoch 46/50
250/250 [==============================] - 1s 4ms/step - loss: 0.6931
Epoch 47/50
250/250 [==============================] - 1s 4ms/step - loss: 0.6938
Epoch 48/50
250/250 [==============================] - 1s 4ms/step - loss: 0.6929
Epoch 49/50
250/250 [==============================] - 1s 4ms/step - loss: 0.6930
Epoch 50/50
250/250 [==============================] - ETA: 0s - loss: 0.693 - 1s 4ms/step - loss: 0.6932

In [123]:
y_predict=model.predict(X_test)

In [131]:
y_predict

array([[0.49115473],
       [0.49115473],
       [0.49115473],
       ...,
       [0.49115473],
       [0.49115473],
       [0.49115473]], dtype=float32)

In [126]:
X_test

         Height      Weight
268   61.477809  161.028752
1447  64.437375  166.490219
489   64.588782  158.454094
1187  65.252479  156.010576
9029  64.286746  143.509868
...         ...         ...
7767  66.529808  157.929684
6652  62.073390  103.141097
49    72.870360  211.342497
1271  69.445715  178.675599
9559  64.349496  129.678032

[2000 rows x 2 columns]

In [133]:
model.predict([[73.847017,241.893563]])

array([[0.49115473]], dtype=float32)

In [129]:
dataset()

      Gender     Height      Weight
0       Male  73.847017  241.893563
1       Male  68.781904  162.310473
2       Male  74.110105  212.740856
3       Male  71.730978  220.042470
4       Male  69.881796  206.349801
...      ...        ...         ...
9995  Female  66.172652  136.777454
9996  Female  67.067155  170.867906
9997  Female  63.867992  128.475319
9998  Female  69.034243  163.852461
9999  Female  61.944246  113.649103

[10000 rows x 3 columns]

In [149]:
model.get_layer('dense_22').get_weights()

AttributeError: 'list' object has no attribute 'values'

In [146]:
model.get_config()

{'name': 'sequential_4',
 'layers': [{'class_name': 'InputLayer',
   'config': {'batch_input_shape': (None, 2),
    'dtype': 'float32',
    'sparse': False,
    'ragged': False,
    'name': 'dense_22_input'}},
  {'class_name': 'Dense',
   'config': {'name': 'dense_22',
    'trainable': True,
    'batch_input_shape': (None, 2),
    'dtype': 'float32',
    'units': 20,
    'activation': 'relu',
    'use_bias': True,
    'kernel_initializer': {'class_name': 'Zeros', 'config': {}},
    'bias_initializer': {'class_name': 'Zeros', 'config': {}},
    'kernel_regularizer': None,
    'bias_regularizer': None,
    'activity_regularizer': None,
    'kernel_constraint': None,
    'bias_constraint': None}},
  {'class_name': 'Dense',
   'config': {'name': 'dense_23',
    'trainable': True,
    'dtype': 'float32',
    'units': 10,
    'activation': 'relu',
    'use_bias': True,
    'kernel_initializer': {'class_name': 'GlorotUniform',
     'config': {'seed': None}},
    'bias_initializer': {'class_name': 'Zeros', 'config': {}},
    'kernel_regularizer': None,
    'bias_regularizer': None,
    'activity_regularizer': None,
    'kernel_constraint': None,
    'bias_constraint': None}},
  {'class_name': 'Dense',
   'config': {'name': 'dense_24',
    'trainable': True,
    'dtype': 'float32',
    'units': 5,
    'activation': 'relu',
    'use_bias': True,
    'kernel_initializer': {'class_name': 'GlorotUniform',
     'config': {'seed': None}},
    'bias_initializer': {'class_name': 'Zeros', 'config': {}},
    'kernel_regularizer': None,
    'bias_regularizer': None,
    'activity_regularizer': None,
    'kernel_constraint': None,
    'bias_constraint': None}},
  {'class_name': 'Dense',
   'config': {'name': 'dense_25',
    'trainable': True,
    'dtype': 'float32',
    'units': 1,
    'activation': 'sigmoid',
    'use_bias': True,
    'kernel_initializer': {'class_name': 'GlorotUniform',
     'config': {'seed': None}},
    'bias_initializer': {'class_name': 'Zeros', 'config': {}},
    'kernel_regularizer': None,
    'bias_regularizer': None,
    'activity_regularizer': None,
    'kernel_constraint': None,
    'bias_constraint': None}}]}